manifest {
    name = 'magspi'
    author = 'MAGSPI contributors'
    description = 'Modular, containerized metagenomic MAG recovery and strain profiling workflow'
    version = '0.2.0'
    mainScript = 'main.nf'
    nextflowVersion = '>=24.10.0'
}

params {
    outdir = 'results'
    container_image = 'magspi:0.2.0'
    run_seqkit = true
    run_quast = true
    run_taxonomy = true
    run_dereplication = true
    run_instrain = false
    run_instrain_compare = false
    completeness = 50.0
    contamination = 10.0
    drep_ani = 0.97
    metabat_min_contig = 1500
    concoct_chunk = 10000
    instrain_breadth = 0.5
    instrain_coverage = 1.0
}

process {
    errorStrategy = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
    maxRetries = 2
    maxErrors = 0

    withLabel: process_low {
        cpus = 2
        memory = '4 GB'
        time = '4h'
    }
    withLabel: process_medium {
        cpus = 8
        memory = '32 GB'
        time = '12h'
    }
    withLabel: process_high {
        cpus = 16
        memory = '128 GB'
        time = '24h'
    }
    withLabel: process_very_high {
        cpus = 32
        memory = '256 GB'
        time = '48h'
    }
}

profiles {
    docker {
        includeConfig 'conf/docker.config'
    }
    apptainer {
        includeConfig 'conf/apptainer.config'
    }
    conda {
        includeConfig 'conf/conda.config'
    }
    slurm {
        includeConfig 'conf/slurm.config'
    }
    local {
        includeConfig 'conf/local.config'
    }
    test {
        includeConfig 'conf/test.config'
        includeConfig 'conf/docker.config'
    }
    test_full {
        includeConfig 'conf/test_full.config'
        includeConfig 'conf/docker.config'
    }
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.tsv"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/timeline.html"
}

workflow.onComplete {
    log.info "MAGSPI finished with status: ${workflow.success ? 'SUCCESS' : 'FAILED'}"
    log.info "Results: ${params.outdir}"
}
