process {
    container = params.container_image
    withName: CHECKM {
        containerOptions = params.checkm_db ? "-v ${params.checkm_db}:${params.checkm_db}:ro" : ''
    }
    withName: GTDBTK {
        containerOptions = params.gtdbtk_db ? "-v ${params.gtdbtk_db}:${params.gtdbtk_db}:ro" : ''
    }
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}
