/*
 * SLURM executor profile.
 * Override queue/account on the command line, e.g.
 *   nextflow run . -profile slurm,apptainer \
 *       --input samplesheet.csv --outdir results \
 *       -process.queue my_partition -process.clusterOptions '--account=my_account'
 */

process {
    executor       = 'slurm'
    queue          = null          // set to your partition
    clusterOptions = null          // e.g. '--account=react'
    scratch        = false
    maxForks       = 100
}

executor {
    queueSize      = 200
    submitRateLimit = '20/1min'
    pollInterval   = '30 sec'
}
