process.executor = 'local'
params.input = "${projectDir}/assets/samplesheet.csv"
params.outdir = 'results_test'
params.host_reference = null
params.checkm_db = null
params.gtdbtk_db = null
params.run_checkm = false
params.run_taxonomy = false
params.run_dereplication = false
params.run_instrain = false
params.run_instrain_compare = false
params.run_seqkit = true
params.run_quast = true
